@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Welcome to your municipal trash collection scheduler!</p>
</div>

<div class="row">
    <div class="col-md-11">
        
        <p>
            If you are a new user, please register an account so you can arrange, display, and suspend your future pickups.
        </p>
       
    </div>
    
</div>